.footer {
    background-color: #000;
    padding: 100px 0;
    &__title {
        color: $third-text-color;
        font-size: $small-title-heading;
        margin-bottom: 60px;
    }
    &__subtitle.subtitle {
        color: #B1B1B1;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 80px 0;
        &__title {
            font-size: 2rem;
            margin-bottom: 50px;
        }
        &__subtitle.subtitle {
            margin-bottom: 50px;
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 70px 0;
        &__title {
            font-size: $title-font;
            margin-bottom: 40px;
        }
        &__subtitle.subtitle {
            margin-bottom: 35px;
            font-size: 0.72rem;
        }
    }
}